<% provide(:title, "Update Question") %>
<div class="jumbotron jumbotron-fluid text-center">
  <div class="container">
    <h1>Update Question</h1>
 </div>
</div>      
    
    <div class="container">
      <div class="row">
        <div class="col-lg-3"></div>
        <div class="col-lg-7">
            <%= render 'form'%>
        </div>
        <div class="col-lg-2"></div>
      </div>
    </div>
 