<div class="jumbotron jumbotron-fluid text-center">
  <div class="container">
    <h1>Welcome to Muvi Forum</h1>      
    <p>Muvi is a movie guide android app that keeps you up to date with your favorite movies and tv shows</p>
    <%= link_to "New Question", 'questions/new', :class => 'btn btn-primary'%>
  </div>
</div>


<div class="container">
  <div class="row">
    <div class="col-lg-8">
    <div class="card card-header bg-light">
      <h2>Recent Questions</h2>
    </div>
      <% @questions.each do |question|%>
      <div class="card card-body bg-light p-3">
        <h4> <%= question.title %></h4>
        <p><%= question.body %></p>
          <div>
            <p><i>Answers</i></p>
            <span class="badge badge-primary"></span>
          </div>
          <div>
            <%= link_to "Read More", question_path(question), :class => 'btn btn-primary btn-sm'%>
          </div>
        </div>
        <br>
        <%end%>
    </div>

    <div class="col-lg-4">
      <div class="card">
        <div class="card-header text-center">
          <h5> Frequently asked </h5>
        </div>

        <div class="card-body">
          </div>

      </div>
    </div>
  </div>
</div>
