<% provide(:title, "Forum") %>

<div class="container top-container">
  <div class="row">
    <div class="col-lg-8">
        <div class="card mb-2">
          <div class="card-body bg-light p-3">
            <h3> Recent Questions </h3>
            <%= render 'shared/all_questions' %>
          </div>
        </div>
    </div>

    <div class="col-lg-4">
      <div class="card ">
        <div class="card-body bg-light">
          <% if logged_in? %>
            <section class="user_info">
              <%= render 'shared/user_info' %>
              <hr>
            </section>
            <section class="question_form">
              <%= render 'shared/question_new_form' %>
            </section>
          <% else %>
            <div  class="text-center" >
              <p>Join the Muvi community today and experience the power of knowledge. Get started now!</p>
              <%= link_to "Login to Ask Question", login_path, class: "btn btn-primary btn-question"%>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
