<% provide(:title, "Help") %>
<div class="jumbotron jumbotron-fluid text-center">
  <div class="container">
    <h1>Get Support</h1>      
    <button class="btn btn-primary">Get Started</button>
  </div>
</div>

