<!--% provide(:title, "Home") %-->
<div class="jumbotron jumbotron-fluid text-center">
  <div class="container">
    <h1>Welcome to Muvi Forum</h1>      
    <p>Muvi is a movie guide android app that keeps you up to date with your favorite movies and tv shows</p>
    <button class="btn btn-primary">Get Started</button>
  </div>
</div>
