<% provide(:title, "Login") %>

<div class="text-center heading-section">
  <%= image_tag("muvilogo.png", class: "img-responsive", id: "muvi-logo") %>
  <h4>Sign in to Muvi</h4>
</div>

<div class="container content-container">
  <div class="row">
    <div id="signup-card" class="card col-md-6 col-md-offset-3">
      <div  class="card-body">
        <%= render "signin_form"%>
        <div class="text-center">
            <p>New user? <%= link_to 'Sign up now!', signup_path%> </p>
        </div>
      </div>
    </div>
  </div>
</div>
