<ul class="users">
    <% @users.each do |user| %>
        <li class="users-list">
            <div>
                <%= gravatar_for user, size: 50 %>
                <%= link_to user.name, user %>
            </div>
            <% if current_user.admin? && !current_user?(user) %>
                <%= link_to " Delete", user, method: :delete,
                                            data: { confirm: "You are about to delete #{user.name}. Are you sure?" },
                                            class: 'fa fa-trash text-danger' %>
            <% end %>
        </li>
    <% end %>
</ul>