<% provide(:title, "Sign Up") %>
<% provide(:button_text, "Create Account")%>
<% provide(:button_class, "btn btn-primary")%>

<div class="text-center heading-section">
  <%= image_tag("muvilogo.png", class: "img-responsive", id: "muvi-logo") %>
  <h4>Create an account for Muvi</h4>
</div>

<div class="container content-container">
  <div class="row">
    <div id="signup-card" class="card col-md-6 col-md-offset-3">
      <div  class="card-body">
        <%= render 'signup_form'%>
      </div>
    </div>
  </div>
</div>
