
  <p>
  <strong>Answered by:</strong>
    <%= answer.answerer %>
  </p>

  <p>
  <strong>Answer:</strong>
    <%= answer.body %>
  </p>
  <%= link_to '',[answer.question, answer],
            method: :delete,
            data: { confirm: 'You are about delete this answer, Are you sure?'},
            :class => 'btn btn-danger fa fa-trash' %>
            
