
<div class='question-answers-section'>
  <% @question.answers.each do |answer| %>
    <div class="question-answers">
    <%= link_to gravatar_for(@question.user, size: 20), @question.user %>
      <p>
        <b><%= answer.user.name %>:</b> <%= answer.content %>
      </p>
      <span> <%= answer_date(answer) %> </span>
    </div>
  <% end %>
</div>
            
