// Place all the styles related to the Questions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.errors_def ul {
  list-style: none;
}

.top-container{
  margin-top: 100px;
  margin-bottom: 100px;
}

.top-show-container{
  margin-top: 150px;
  margin-bottom: 100px;
}

.btn-question{
  margin-bottom: 20px;
}

/* User new qestion form */
section {
  input {
    margin-bottom: 10px;
  }

  textarea {
    margin-bottom: 10px;
  }

  textarea.form-control {
    height: 100px;
  }
}