
<footer class="footer">
  <div class="container">
    <div class="footer-info">
    Muvi: The Movie Guide <span>&copy; 2019</span> | All Rights Reserved
    </div>
    <nav class="footer-nav">
      <ul>
        <li><%= link_to "Home", root_path %></li>
        <li><%= link_to "Help", help_path %></li>
        <li><%= link_to "About", about_path %></li>
      </ul>
    </nav>
  </div>
</footer>
